<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/snzt</property>   <!-- соединение-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <property name="connection.username">root</property>
        <property name="connection.password">pass</property>
        <property name="hibernate.connection.characterEncoding">utf8</property> <!-- подключение русских символов-->

        <property name="show_sql">true</property>                    <!-- показывать все запросы-->
        <property name="hibernate.format_sql">true</property>         <!-- запросы выводить не встроку-->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

        <property name="default_schema">snzt</property>                                      <!-- база по умолчанию-->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <mapping class="by.java.hibernate.training.entity.Book"/>
        <mapping class="by.java.hibernate.training.entity.Charters"/>
        <mapping class="by.java.hibernate.training.entity.Nzt"/>
        <mapping class="by.java.hibernate.training.entity.Tables"/>    <!-- сеcсию привязываем к потоку-->


    </session-factory>
</hibernate-configuration>